<% if !search? %>
  <h2>Search results:</h2>
<% end %>

<div id="posts">
	<%= render @posts %>
</div>

<%= will_paginate @posts %>

<% if current_user && current_user.admin? && search? %>
  <%= form_for :post , remote: true do |f| %>
  	<fieldset>
  	<div class="control-group">
        <div class="controls">
          <%= f.text_field :title , placeholder: "Post title..." %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.text_area :content, :id => "comment_area", placeholder: "Post content..." %>
        </div>
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <%= f.submit "Create", class: "btn btn-success pull-right" %>
        </div>
      </div>
      <br><br><br>
  <% end %>
<% end %>